<button routerLink="/movies"> 🏠 Back button</button>
<ng-container *ngIf="movie$ | async as movie">
  <h1>{{ movie.title }}</h1>
  <div class="box">
    <img src="{{movie.poster}}" alt="{{movie.title}} poster" width="249" height="332.25">
    <p><strong>Summary:</strong> {{ movie.summary }}</p>
  </div>
  <h2 >Details</h2>
  <table>
    <colgroup>
      <col class="header"/>
      <col class="value"/>
    </colgroup>
    <tr>
      <th><strong>Box office</strong></th>
      <th>{{ movie.box_office | dollarCurrency }}</th>
    </tr>
    <tr>
      <th><strong>Budget</strong></th>
      <th>{{ movie.budget | dollarCurrency }}</th>
    </tr>
    <tr>
      <th><strong>Duration</strong></th>
      <th>{{ movie.duration | duration }}</th>
    </tr>
    <tr>
      <th><strong>Producers</strong></th>
      <th>{{ movie.producers | delimitedArray }}</th>
    </tr>
    <tr>
      <th><strong>Cinematographers</strong></th>
      <th>{{ movie.cinematographers | delimitedArray }}</th>
    </tr>
  </table>
</ng-container>
