/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-default.min.css";

body {
  width: 60%;
  margin: auto;
}

.box {
  display: flex;
  justify-content: space-between;
}
